In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# File to Load
cost_of_living_index_csv = "../data/cost-of-living-index.csv"
income_tax_by_state_csv = "../data/income-tax-by-state.csv"
sales_tax_csv = "../data/sales-tax.csv"
median_house_price_csv = "../data/median-housing-price.csv"
avg_grocery_csv = "../data/Avg-grocery-cost1.csv"
gas_price_csv = "../data/gas-price-per-state1.csv"

# Income by State

In [3]:
#read income_tax file from data folder

income_tax_by_state = pd.read_csv(income_tax_by_state_csv)

income_tax_by_state.head()

,fips,state,densityMi,pop2023,pop2022,pop2020,pop2019,pop2010,growthRate,growth,growthSince2010,lowestIncomeTaxBracket,highestIncomeTaxBracket
0,1,Alabama,100.67620,5098746,5074296,5031362,5006199.4,4779736,0.00482,24450,0.06674,0.020,0.050
1,4,Arizona,65.61541,7453517,7359197,7179943,7101150.4,6392017,0.01282,94320,0.16607,0.025,0.025
2,5,Arkansas,58.86715,3063152,3045637,3014195,3004367.3,2915918,0.00575,17515,0.05049,0.020,0.049
3,6,California,249.81347,38915693,39029342,39501653,39276883.3,37253956,-0.00291,-113649,0.04461,0.010,0.133
4,8,Colorado,56.62333,5868555,5839926,5784865,5709298.1,5029196,0.00490,28629,0.16690,0.044,0.044

In [4]:
#drop unnecessary columns and create new column for average of income tax

income_tax_df = income_tax_by_state.drop(columns=['pop2022', 'pop2020', 'pop2019', 'pop2010', 'growthRate', 'growth', 'fips','growthSince2010'])
income_tax_df['AvgIncomeTax']=income_tax_df[['lowestIncomeTaxBracket', 'highestIncomeTaxBracket']].mean(axis=1)

#drop lowest Income and Highest Income columns
income_tax_df.drop(['lowestIncomeTaxBracket', 'highestIncomeTaxBracket'], axis=1, inplace=True)

#formatting & display results
income_tax_df.AvgIncomeTax = (income_tax_df.AvgIncomeTax * 100).map("{:,.2f}%".format)

income_tax_df.head()

        state  densityMi   pop2023 AvgIncomeTax
0     Alabama  100.67620   5098746        3.50%
1     Arizona   65.61541   7453517        2.50%
2    Arkansas   58.86715   3063152        3.45%
3  California  249.81347  38915693        7.15%
4    Colorado   56.62333   5868555        4.40%

In [5]:
# creating a rank column and passing the returned rank series
income_tax_df["IncomeTaxRank"] = income_tax_df["AvgIncomeTax"].rank(method='max', ascending=True)
  
# sorting by Avg Income Tax column
income_tax_df.sort_values("AvgIncomeTax", inplace = True)
  
# display
income_tax_df

                   state    densityMi   pop2023 AvgIncomeTax  IncomeTaxRank
31          North Dakota     11.31271    780588        2.00%            1.0
1                Arizona     65.61541   7453517        2.50%            3.0
33              Oklahoma     59.01851   4048375        2.50%            3.0
16             Louisiana    105.39265   4553384        3.05%            4.0
35          Pennsylvania    289.02749  12931957        3.07%            5.0
12               Indiana    191.27287   6852542        3.15%            6.0
32                  Ohio    287.50579  11747774        3.38%            8.0
8                Georgia    191.91701  11037723        3.38%            8.0
2               Arkansas     58.86715   3063152        3.45%            9.0
23              Missouri     89.98998   6186091        3.48%           10.0
0                Alabama    100.67620   5098746        3.50%           11.0
28            New Mexico     17.39527   2110011        3.80%           12.0
24               Montana      7.82919   1139507        3.88%           15.0
39              Virginia    220.55895   8709873        3.88%           15.0
18              Maryland    634.04862   6154710        3.88%           15.0
26         New Hampshire    156.70245   1402957        4.00%           16.0
20              Michigan    177.41244  10030722        4.25%           17.0
14                Kansas     35.91504   2936378        4.40%           20.0
6               Delaware    529.49461   1031985        4.40%           20.0
4               Colorado     56.62333   5868555        4.40%           20.0
15              Kentucky    114.42109   4518031        4.50%           21.0
25              Nebraska     25.67286   1972292        4.55%           22.0
41         West Virginia     73.41651   1764786        4.75%           24.0
30        North Carolina    222.79940  10832061        4.75%           24.0
37                  Utah     41.65130   3422487        4.85%           25.0
36          Rhode Island   1054.62573   1090483        4.87%           26.0
11              Illinois    224.74459  12477595        4.95%           27.0
22           Mississippi     62.45398   2930528        5.00%           29.0
5            Connecticut    749.49504   3629055        5.00%           29.0
13                  Iowa     57.34903   3203345        5.20%           30.0
42             Wisconsin    109.03241   5904977        5.59%           31.0
10                 Idaho     23.88287   1973752        5.80%           32.0
38               Vermont     70.21330    647156        6.05%           33.0
27            New Jersey   1258.55820   9255437        6.08%           34.0
9                 Hawaii    223.14152   1433238        6.20%           35.0
17                 Maine     45.17855   1393442        6.48%           36.0
19         Massachusetts    894.13564   6974258        7.00%           38.0
40            Washington    117.83476   7830827        7.00%           38.0
3             California    249.81347  38915693        7.15%           39.0
34                Oregon     44.00522   4223973        7.33%           40.0
7   District of Columbia  11062.54098    674815        7.38%           41.0
29              New York    413.71663  19496810        7.45%           42.0
21             Minnesota     71.87131   5722897        7.60%           43.0

Analysis: Less Income tax means less expenses, which is prefered.

# Sales Tax

In [6]:
# read sales_tax csv file
sales_tax = pd.read_csv(sales_tax_csv)

sales_tax.head()

,fips,state,densityMi,pop2023,pop2022,pop2020,pop2019,pop2010,growthRate,growth,growthSince2010,stateTaxRate,avgLocalTaxRate,combinedRate
0,6,California,249.81347,38915693,39029342,39501653,39276883.3,37253956,-0.00291,-113649,0.04461,0.0725,0.0157,0.0882
1,18,Indiana,191.27287,6852542,6833037,6788799,6758299.3,6483802,0.00285,19505,0.05687,0.0700,0.0000,0.0700
2,28,Mississippi,62.45398,2930528,2940057,2958141,2959056.6,2967297,-0.00324,-9529,-0.01239,0.0700,0.0007,0.0707
3,44,Rhode Island,1054.62573,1090483,1093734,1096345,1091967.2,1052567,-0.00297,-3251,0.03602,0.0700,0.0000,0.0700
4,47,Tennessee,173.01630,7134327,7051339,6925619,6867667.6,6346105,0.01177,82988,0.12421,0.0700,0.0255,0.0955

In [7]:
#drop unnecessary columns and create new column for average of income tax

sales_tax_df = sales_tax.drop(columns=['pop2022', 'pop2020', 'pop2019', 'pop2010', 'growthRate', 'growth', 'fips','growthSince2010','stateTaxRate', 'avgLocalTaxRate'])

#rename combined Rate column and change format
sales_tax_df.rename(columns={'combinedRate': 'statelocaltax'}, inplace=True)
sales_tax_df.statelocaltax = (sales_tax_df.statelocaltax * 100).map("{:,.2f}%".format)

#display df
sales_tax_df.head()

          state   densityMi   pop2023 statelocaltax
0    California   249.81347  38915693         8.82%
1       Indiana   191.27287   6852542         7.00%
2   Mississippi    62.45398   2930528         7.07%
3  Rhode Island  1054.62573   1090483         7.00%
4     Tennessee   173.01630   7134327         9.55%

In [8]:
# creating a rank column and passing the returned rank series
sales_tax_df["StateLocalTaxRank"] = sales_tax_df["statelocaltax"].rank(method='max', ascending=True)
  
# sorting by state Local sales tax column
sales_tax_df.sort_values("statelocaltax", inplace = True)
  
# display
sales_tax_df

,state,densityMi,pop2023,statelocaltax,StateLocalTaxRank
42,Hawaii,223.14152,1433238,4.44%,1.0
44,Wyoming,6.00743,583279,5.36%,2.0
34,Wisconsin,109.03241,5904977,5.43%,3.0
29,Maine,45.17855,1393442,5.50%,4.0
31,Virginia,220.55895,8709873,5.75%,5.0
22,Michigan,177.41244,10030722,6.00%,9.0
20,Kentucky,114.42109,4518031,6.00%,9.0
21,Maryland,634.04862,6154710,6.00%,9.0
16,District of Columbia,11062.54098,674815,6.00%,9.0
18,Idaho,23.88287,1973752,6.02%,10.0
13,Massachusetts,894.13564,6974258,6.25%,11.0
25,Vermont,70.21330,647156,6.30%,12.0
23,Pennsylvania,289.02749,12931957,6.34%,13.0
11,Connecticut,749.49504,3629055,6.35%,14.0
37,South Dakota,12.18140,923484,6.40%,15.0
26,West Virginia,73.41651,1764786,6.55%,16.0
7,New Jersey,1258.55820,9255437,6.59%,17.0
19,Iowa,57.34903,3203345,6.94%,18.0
30,Nebraska,25.67286,1972292,6.95%,19.0
33,North Dakota,11.31271,780588,6.97%,20.0
35,North Carolina,222.79940,10832061,6.99%,21.0
3,Rhode Island,1054.62573,1090483,7.00%,23.0
1,Indiana,191.27287,6852542,7.00%,23.0
17,Florida,422.59351,22661577,7.02%,24.0
2,Mississippi,62.45398,2930528,7.07%,25.0
15,Utah,41.65130,3422487,7.19%,26.0
27,Ohio,287.50579,11747774,7.24%,27.0
41,Georgia,191.91701,11037723,7.40%,28.0
24,South Carolina,178.70337,5372002,7.43%,29.0
5,Minnesota,71.87131,5722897,7.48%,30.0
32,New Mexico,17.39527,2110011,7.72%,31.0
45,Colorado,56.62333,5868555,7.78%,32.0
14,Texas,116.75553,30500280,8.20%,33.0
6,Nevada,29.23222,3209142,8.23%,34.0
39,Missouri,89.98998,6186091,8.33%,35.0
28,Arizona,65.61541,7453517,8.37%,36.0
43,New York,413.71663,19496810,8.52%,37.0
9,Kansas,35.91504,2936378,8.66%,38.0
12,Illinois,224.74459,12477595,8.82%,40.0
0,California,249.81347,38915693,8.82%,40.0
10,Washington,117.83476,7830827,8.86%,41.0
36,Oklahoma,59.01851,4048375,8.98%,42.0
40,Alabama,100.67620,5098746,9.25%,43.0
8,Arkansas,58.86715,3063152,9.46%,44.0
38,Louisiana,105.39265,4553384,9.55%,46.0
4,Tennessee,173.01630,7134327,9.55%,46.0

Analysis: Less State/Local Sales tax means less expenses, which is prefered.

# House Price

In [9]:
#read house_price file in data folder 

median_house_price = pd.read_csv(median_house_price_csv)
median_house_price.head()

,fips,state,densityMi,pop2023,pop2022,pop2020,pop2019,pop2010,growthRate,growth,growthSince2010,MedianValue,medianValueZillow
0,54,West Virginia,73.41651,1764786,1775156,1791420,1797577.4,1852994,-0.00584,-10370,-0.04760,123200,129103.0
1,28,Mississippi,62.45398,2930528,2940057,2958141,2959056.6,2967297,-0.00324,-9529,-0.01239,125500,157828.0
2,5,Arkansas,58.86715,3063152,3045637,3014195,3004367.3,2915918,0.00575,17515,0.05049,133600,169867.0
3,40,Oklahoma,59.01851,4048375,4019800,3964912,3943555.9,3751351,0.00711,28575,0.07918,142400,171057.0
4,21,Kentucky,114.42109,4518031,4512310,4507445,4490637.2,4339367,0.00127,5721,0.04117,147100,188439.0

In [10]:
#drop unneccesary columns

median_house_price_df = median_house_price.drop(columns=['pop2022', 'pop2020', 'pop2019', 'pop2010', 'growthRate', 'growth', 'fips', 'growthSince2010', 'MedianValue'])
median_house_price_df.head()

           state  densityMi  pop2023  medianValueZillow
0  West Virginia   73.41651  1764786           129103.0
1    Mississippi   62.45398  2930528           157828.0
2       Arkansas   58.86715  3063152           169867.0
3       Oklahoma   59.01851  4048375           171057.0
4       Kentucky  114.42109  4518031           188439.0

In [11]:
# creating a rank column and passing the returned rank series
median_house_price_df["HousePriceRank"] = median_house_price_df["medianValueZillow"].rank(method='max', ascending=True)
  
# sorting by median Value zillow column
median_house_price_df.sort_values("medianValueZillow", inplace = True)
  
# display
median_house_price_df

,state,densityMi,pop2023,medianValueZillow,HousePriceRank
0,West Virginia,73.41651,1764786,129103.0,1.0
1,Mississippi,62.45398,2930528,157828.0,2.0
2,Arkansas,58.86715,3063152,169867.0,3.0
3,Oklahoma,59.01851,4048375,171057.0,4.0
8,Iowa,57.34903,3203345,183418.0,5.0
4,Kentucky,114.42109,4518031,188439.0,6.0
6,Alabama,100.67620,5098746,194695.0,7.0
9,Kansas,35.91504,2936378,198199.0,8.0
7,Ohio,287.50579,11747774,199959.0,9.0
13,Louisiana,105.39265,4553384,205972.0,10.0
5,Indiana,191.27287,6852542,210166.0,11.0
11,Missouri,89.98998,6186091,218208.0,12.0
10,Michigan,177.41244,10030722,225324.0,13.0
12,Nebraska,25.67286,1972292,230672.0,14.0
21,Wisconsin,109.03241,5904977,251655.0,15.0
25,Illinois,224.74459,12477595,253433.0,16.0
20,Pennsylvania,289.02749,12931957,254597.0,17.0
24,North Dakota,11.31271,780588,266763.0,18.0
14,South Carolina,178.70337,5372002,269186.0,19.0
17,Tennessee,173.01630,7134327,276963.0,20.0
16,New Mexico,17.39527,2110011,277617.0,21.0
15,South Dakota,12.18140,923484,277809.0,22.0
19,Texas,116.75553,30500280,289896.0,23.0
22,Georgia,191.91701,11037723,295159.0,24.0
18,North Carolina,222.79940,10832061,296021.0,25.0
26,Wyoming,6.00743,583279,308862.0,26.0
35,Alaska,1.28449,732984,312988.0,27.0
30,Minnesota,71.87131,5722897,323515.0,28.0
27,Vermont,70.21330,647156,336310.0,29.0
33,Delaware,529.49461,1031985,337543.0,30.0
37,Connecticut,749.49504,3629055,343687.0,31.0
23,Maine,45.17855,1393442,344592.0,32.0
28,Florida,422.59351,22661577,358018.0,33.0
38,Virginia,220.55895,8709873,358447.0,34.0
41,New York,413.71663,19496810,382663.0,35.0
42,Maryland,634.04862,6154710,390608.0,36.0
34,New Hampshire,156.70245,1402957,411945.0,37.0
36,Rhode Island,1054.62573,1090483,412897.0,38.0
31,Arizona,65.61541,7453517,416433.0,39.0
32,Montana,7.82919,1139507,428202.0,40.0
39,Nevada,29.23222,3209142,434832.0,41.0
44,New Jersey,1258.55820,9255437,441762.0,42.0
29,Idaho,23.88287,1973752,466435.0,43.0
43,Oregon,44.00522,4223973,502215.0,44.0
40,Utah,41.65130,3422487,544868.0,45.0
47,Massachusetts,894.13564,6974258,559312.0,46.0
46,Colorado,56.62333,5868555,559838.0,47.0
45,Washington,117.83476,7830827,595732.0,48.0
48,California,249.81347,38915693,760800.0,49.0
50,Hawaii,223.14152,1433238,848926.0,50.0
49,District of Columbia,11062.54098,674815,NaN,NaN

Analysis: Lower House Price means less expenses and more affordability, which is prefered.

# Average Grocery Expense per person by State

In [12]:
avg_grocery = pd.read_csv(avg_grocery_csv)
avg_grocery.head()

,Rank,state,City analyzed (population),Average monthly cost of groceries per person
0,1,Hawaii,"Honolulu (337,200)",$556.76
1,2,Vermont,"Burlington (42,400)",$497.41
2,3,Alaska,"Anchorage (291,800)",$483.24
3,4,New York,New York City (8.17M),$482.87
4,5,West Virginia,"Charleston (51,400)",$427.19

In [13]:
avg_grocery_df = avg_grocery.drop(columns=['City analyzed (population)', 'Rank'])
avg_grocery_df.head()

           state Average monthly cost of groceries per person
0         Hawaii                                     $556.76
1        Vermont                                     $497.41
2         Alaska                                     $483.24
3       New York                                     $482.87
4  West Virginia                                     $427.19

In [14]:
# creating a rank column and passing the returned rank series
avg_grocery_df["AvgGroceryRank"] = avg_grocery_df["Average monthly cost of groceries per person"].rank(method='max', ascending=True)
  
# sorting By Avg Monthly grocery Cost per person column
avg_grocery_df.sort_values("Average monthly cost of groceries per person", inplace = True)
  
# display
avg_grocery_df

,state,Average monthly cost of groceries per person,AvgGroceryRank
49,New Hampshire,$183.00,1.0
48,Kansas,$261.35,2.0
47,Idaho,$281.12,3.0
46,Utah,$282.23,4.0
45,Arkansas,$282.46,5.0
44,South Dakota,$286.23,6.0
43,Texas,$286.64,7.0
42,Nevada,$293.43,8.0
41,Virginia,$298.01,9.0
40,Arizona,$302.80,10.0
39,New Mexico,$307.79,11.0
38,Missouri,$312.63,12.0
37,Kentucky,$315.20,13.0
36,Indiana,$318.03,14.0
35,Montana,$323.91,15.0
34,Louisiana,$325.19,16.0
33,North Dakota,$326.66,17.0
32,Colorado,$326.92,18.0
31,Michigan,$327.12,19.0
30,Illinois,$327.31,20.0
29,Nebraska,$336.90,21.0
28,North Carolina,$341.10,22.0
27,Ohio,$341.48,23.0
26,Connecticut,$343.30,24.0
25,Maryland,$343.67,26.0
24,New Jersey,$343.67,26.0
23,Wyoming,$345.62,27.0
22,Tennessee,$346.37,29.0
21,Oklahoma,$346.37,29.0
20,Iowa,$347.05,30.0
19,Florida,$364.25,31.0
18,California,$370.96,32.0
17,Maine,$372.21,33.0
16,Oregon,$375.41,34.0
15,Delaware,$380.39,35.0
14,Wisconsin,$385.97,36.0
13,Rhode Island,$390.19,37.0
12,Minnesota,$395.39,38.0
11,Alabama,$397.39,39.0
10,Georgia,$397.97,40.0
9,Pennsylvania,$401.02,41.0
8,Washington,$402.08,42.0
7,Massachusetts,$406.21,43.0
6,South Carolina,$411.29,44.0
5,Mississippi,$423.33,45.0
4,West Virginia,$427.19,46.0
3,New York,$482.87,47.0
2,Alaska,$483.24,48.0
1,Vermont,$497.41,49.0
0,Hawaii,$556.76,50.0

Analysis: Less Monthly Grocery cost means less expense, and more affordability.

# Gas Price per State

In [15]:
gas_price_df = pd.read_csv(gas_price_csv)
gas_price_df.head()

       state   Regular
0      Alaska     3.863
1     Alabama     3.290
2    Arkansas     3.208
3     Arizona     4.527
4  California     4.892

In [16]:
columns = [col.strip() for col in gas_price_df.columns]
gas_price_df.columns = columns

In [17]:
list(gas_price_df.columns)[1]

'Regular'

In [18]:
# creating a rank column and passing the returned rank series
gas_price_df["GasPriceRank"] = gas_price_df["Regular"].rank(method='max', ascending=True)
  
# sorting By Avg Monthly grocery Cost per person column
gas_price_df.sort_values("Regular", inplace = True)
  
# display
gas_price_df

                   state  Regular  GasPriceRank
25           Mississippi    3.156           1.0
2               Arkansas    3.208           2.0
1                Alabama    3.290           3.0
18             Louisiana    3.291           4.0
16                Kansas    3.303           5.0
24              Missouri    3.306           6.0
36              Oklahoma    3.314           7.0
43                 Texas    3.324           8.0
30         New Hampshire    3.330           9.0
42             Tennessee    3.349          10.0
26               Montana    3.357          11.0
40        South Carolina    3.358          12.0
19         Massachusetts    3.374          13.0
39          Rhode Island    3.392          15.0
10               Georgia    3.392          15.0
50               Wyoming    3.396          16.0
31            New Jersey    3.430          17.0
17              Kentucky    3.444          18.0
28          North Dakota    3.449          19.0
21                 Maine    3.457          20.0
27        North Carolina    3.470          21.0
46               Vermont    3.472          22.0
6            Connecticut    3.477          23.0
41          South Dakota    3.503          24.0
29              Nebraska    3.506          26.0
45              Virginia    3.506          26.0
12                  Iowa    3.518          27.0
48             Wisconsin    3.534          28.0
23             Minnesota    3.536          29.0
8               Delaware    3.553          30.0
5               Colorado    3.556          31.0
13                 Idaho    3.559          32.0
9                Florida    3.571          33.0
49         West Virginia    3.572          34.0
34              New York    3.584          35.0
20              Maryland    3.597          36.0
32            New Mexico    3.606          37.0
22              Michigan    3.636          38.0
35                  Ohio    3.639          39.0
44                  Utah    3.657          40.0
7   District of Columbia    3.718          41.0
15               Indiana    3.722          42.0
38          Pennsylvania    3.742          43.0
0                 Alaska    3.863          44.0
37                Oregon    4.010          45.0
14              Illinois    4.060          46.0
33                Nevada    4.250          47.0
47            Washington    4.437          48.0
3                Arizona    4.527          49.0
11                Hawaii    4.786          50.0
4             California    4.892          51.0

Analysis: Less Gas Price means less expense and more affordability.

# Merging Data

In [39]:
#merge income_tax and house_price by state
cost_of_living_merge1 = pd.merge(income_tax_df, sales_tax_df, how="left", on=["state", "densityMi", "pop2023"])
cost_of_living_merge1.drop(['AvgIncomeTax', 'statelocaltax'],axis=1, inplace=True)

cost_of_living_merge1

,state,densityMi,pop2023,IncomeTaxRank,StateLocalTaxRank
0,North Dakota,11.31271,780588,1.0,20.0
1,Arizona,65.61541,7453517,3.0,36.0
2,Oklahoma,59.01851,4048375,3.0,42.0
3,Louisiana,105.39265,4553384,4.0,46.0
4,Pennsylvania,289.02749,12931957,5.0,13.0
5,Indiana,191.27287,6852542,6.0,23.0
6,Ohio,287.50579,11747774,8.0,27.0
7,Georgia,191.91701,11037723,8.0,28.0
8,Arkansas,58.86715,3063152,9.0,44.0
9,Missouri,89.98998,6186091,10.0,35.0
10,Alabama,100.67620,5098746,11.0,43.0
11,New Mexico,17.39527,2110011,12.0,31.0
12,Montana,7.82919,1139507,15.0,NaN
13,Virginia,220.55895,8709873,15.0,5.0
14,Maryland,634.04862,6154710,15.0,9.0
15,New Hampshire,156.70245,1402957,16.0,NaN
16,Michigan,177.41244,10030722,17.0,9.0
17,Kansas,35.91504,2936378,20.0,38.0
18,Delaware,529.49461,1031985,20.0,NaN
19,Colorado,56.62333,5868555,20.0,32.0
20,Kentucky,114.42109,4518031,21.0,9.0
21,Nebraska,25.67286,1972292,22.0,19.0
22,West Virginia,73.41651,1764786,24.0,16.0
23,North Carolina,222.79940,10832061,24.0,21.0
24,Utah,41.65130,3422487,25.0,26.0
25,Rhode Island,1054.62573,1090483,26.0,23.0
26,Illinois,224.74459,12477595,27.0,40.0
27,Mississippi,62.45398,2930528,29.0,25.0
28,Connecticut,749.49504,3629055,29.0,14.0
29,Iowa,57.34903,3203345,30.0,18.0
30,Wisconsin,109.03241,5904977,31.0,3.0
31,Idaho,23.88287,1973752,32.0,10.0
32,Vermont,70.21330,647156,33.0,12.0
33,New Jersey,1258.55820,9255437,34.0,17.0
34,Hawaii,223.14152,1433238,35.0,1.0
35,Maine,45.17855,1393442,36.0,4.0
36,Massachusetts,894.13564,6974258,38.0,11.0
37,Washington,117.83476,7830827,38.0,41.0
38,California,249.81347,38915693,39.0,40.0
39,Oregon,44.00522,4223973,40.0,NaN
40,District of Columbia,11062.54098,674815,41.0,9.0
41,New York,413.71663,19496810,42.0,37.0
42,Minnesota,71.87131,5722897,43.0,30.0

In [20]:
cost_of_living_merge2 = pd.merge(cost_of_living_merge1, median_house_price_df, how="left", on=["state", "densityMi", "pop2023"])
cost_of_living_merge2.drop(['medianValueZillow'],axis=1, inplace=True)
cost_of_living_merge2.head()

,state,densityMi,pop2023,IncomeTaxRank,StateLocalTaxRank,HousePriceRank
0,North Dakota,11.31271,780588,1.0,20.0,18.0
1,Arizona,65.61541,7453517,3.0,36.0,39.0
2,Oklahoma,59.01851,4048375,3.0,42.0,4.0
3,Louisiana,105.39265,4553384,4.0,46.0,10.0
4,Pennsylvania,289.02749,12931957,5.0,13.0,17.0

In [25]:
cost_of_living_merge3 = pd.merge(cost_of_living_merge2, avg_grocery_df, how="left", on=["state"])
cost_of_living_merge3.drop(['densityMi', 'pop2023', 'Average monthly cost of groceries per person'],axis=1, inplace=True)
cost_of_living_merge3.head()

,state,IncomeTaxRank,StateLocalTaxRank,HousePriceRank,AvgGroceryRank
0,North Dakota,1.0,20.0,18.0,17.0
1,Arizona,3.0,36.0,39.0,10.0
2,Oklahoma,3.0,42.0,4.0,29.0
3,Louisiana,4.0,46.0,10.0,16.0
4,Pennsylvania,5.0,13.0,17.0,41.0

In [29]:
cost_of_living_merge4 = pd.merge(cost_of_living_merge3, gas_price_df, how="left", on=["state"])
cost_of_living_merge4.drop(['Regular'],axis=1, inplace=True)
cost_of_living_merge4.head()

,state,IncomeTaxRank,StateLocalTaxRank,HousePriceRank,AvgGroceryRank,GasPriceRank
0,North Dakota,1.0,20.0,18.0,17.0,19.0
1,Arizona,3.0,36.0,39.0,10.0,49.0
2,Oklahoma,3.0,42.0,4.0,29.0,7.0
3,Louisiana,4.0,46.0,10.0,16.0,4.0
4,Pennsylvania,5.0,13.0,17.0,41.0,43.0

# Rating and Analysis

In [36]:
CostOfLiving_Rank = pd.DataFrame(cost_of_living_merge4)

CostOfLiving_Rank

,state,IncomeTaxRank,StateLocalTaxRank,HousePriceRank,AvgGroceryRank,GasPriceRank
0,North Dakota,1.0,20.0,18.0,17.0,19.0
1,Arizona,3.0,36.0,39.0,10.0,49.0
2,Oklahoma,3.0,42.0,4.0,29.0,7.0
3,Louisiana,4.0,46.0,10.0,16.0,4.0
4,Pennsylvania,5.0,13.0,17.0,41.0,43.0
5,Indiana,6.0,23.0,11.0,14.0,42.0
6,Ohio,8.0,27.0,9.0,23.0,39.0
7,Georgia,8.0,28.0,24.0,40.0,15.0
8,Arkansas,9.0,44.0,3.0,5.0,2.0
9,Missouri,10.0,35.0,12.0,12.0,6.0
10,Alabama,11.0,43.0,7.0,39.0,3.0
11,New Mexico,12.0,31.0,21.0,11.0,37.0
12,Montana,15.0,NaN,40.0,15.0,11.0
13,Virginia,15.0,5.0,34.0,9.0,26.0
14,Maryland,15.0,9.0,36.0,26.0,36.0
15,New Hampshire,16.0,NaN,37.0,1.0,9.0
16,Michigan,17.0,9.0,13.0,19.0,38.0
17,Kansas,20.0,38.0,8.0,2.0,5.0
18,Delaware,20.0,NaN,30.0,35.0,30.0
19,Colorado,20.0,32.0,47.0,18.0,31.0
20,Kentucky,21.0,9.0,6.0,13.0,18.0
21,Nebraska,22.0,19.0,14.0,21.0,26.0
22,West Virginia,24.0,16.0,1.0,46.0,34.0
23,North Carolina,24.0,21.0,25.0,22.0,21.0
24,Utah,25.0,26.0,45.0,4.0,40.0
25,Rhode Island,26.0,23.0,38.0,37.0,15.0
26,Illinois,27.0,40.0,16.0,20.0,46.0
27,Mississippi,29.0,25.0,2.0,45.0,1.0
28,Connecticut,29.0,14.0,31.0,24.0,23.0
29,Iowa,30.0,18.0,5.0,30.0,27.0
30,Wisconsin,31.0,3.0,15.0,36.0,28.0
31,Idaho,32.0,10.0,43.0,3.0,32.0
32,Vermont,33.0,12.0,29.0,49.0,22.0
33,New Jersey,34.0,17.0,42.0,26.0,17.0
34,Hawaii,35.0,1.0,50.0,50.0,50.0
35,Maine,36.0,4.0,32.0,33.0,20.0
36,Massachusetts,38.0,11.0,46.0,43.0,13.0
37,Washington,38.0,41.0,48.0,42.0,48.0
38,California,39.0,40.0,49.0,32.0,51.0
39,Oregon,40.0,NaN,44.0,34.0,45.0
40,District of Columbia,41.0,9.0,NaN,NaN,41.0
41,New York,42.0,37.0,35.0,47.0,35.0
42,Minnesota,43.0,30.0,28.0,38.0,29.0

In [38]:
#Calculate Total Score 

CostOfLiving_Rank['TotalScore'] = cost_of_living_merge4['IncomeTaxRank'] + cost_of_living_merge4['StateLocalTaxRank'] + cost_of_living_merge4['HousePriceRank'] + cost_of_living_merge4['AvgGroceryRank'] + cost_of_living_merge4['GasPriceRank']

CostOfLiving_Rank['CostOfLiving_RankScore'] = CostOfLiving_Rank['TotalScore']/5

CostOfLiving_Rank

,state,IncomeTaxRank,StateLocalTaxRank,HousePriceRank,AvgGroceryRank,GasPriceRank,TotalScore,CostOfLiving_RankScore
0,North Dakota,1.0,20.0,18.0,17.0,19.0,75.0,15.0
1,Arizona,3.0,36.0,39.0,10.0,49.0,137.0,27.4
2,Oklahoma,3.0,42.0,4.0,29.0,7.0,85.0,17.0
3,Louisiana,4.0,46.0,10.0,16.0,4.0,80.0,16.0
4,Pennsylvania,5.0,13.0,17.0,41.0,43.0,119.0,23.8
5,Indiana,6.0,23.0,11.0,14.0,42.0,96.0,19.2
6,Ohio,8.0,27.0,9.0,23.0,39.0,106.0,21.2
7,Georgia,8.0,28.0,24.0,40.0,15.0,115.0,23.0
8,Arkansas,9.0,44.0,3.0,5.0,2.0,63.0,12.6
9,Missouri,10.0,35.0,12.0,12.0,6.0,75.0,15.0
10,Alabama,11.0,43.0,7.0,39.0,3.0,103.0,20.6
11,New Mexico,12.0,31.0,21.0,11.0,37.0,112.0,22.4
12,Montana,15.0,NaN,40.0,15.0,11.0,NaN,NaN
13,Virginia,15.0,5.0,34.0,9.0,26.0,89.0,17.8
14,Maryland,15.0,9.0,36.0,26.0,36.0,122.0,24.4
15,New Hampshire,16.0,NaN,37.0,1.0,9.0,NaN,NaN
16,Michigan,17.0,9.0,13.0,19.0,38.0,96.0,19.2
17,Kansas,20.0,38.0,8.0,2.0,5.0,73.0,14.6
18,Delaware,20.0,NaN,30.0,35.0,30.0,NaN,NaN
19,Colorado,20.0,32.0,47.0,18.0,31.0,148.0,29.6
20,Kentucky,21.0,9.0,6.0,13.0,18.0,67.0,13.4
21,Nebraska,22.0,19.0,14.0,21.0,26.0,102.0,20.4
22,West Virginia,24.0,16.0,1.0,46.0,34.0,121.0,24.2
23,North Carolina,24.0,21.0,25.0,22.0,21.0,113.0,22.6
24,Utah,25.0,26.0,45.0,4.0,40.0,140.0,28.0
25,Rhode Island,26.0,23.0,38.0,37.0,15.0,139.0,27.8
26,Illinois,27.0,40.0,16.0,20.0,46.0,149.0,29.8
27,Mississippi,29.0,25.0,2.0,45.0,1.0,102.0,20.4
28,Connecticut,29.0,14.0,31.0,24.0,23.0,121.0,24.2
29,Iowa,30.0,18.0,5.0,30.0,27.0,110.0,22.0
30,Wisconsin,31.0,3.0,15.0,36.0,28.0,113.0,22.6
31,Idaho,32.0,10.0,43.0,3.0,32.0,120.0,24.0
32,Vermont,33.0,12.0,29.0,49.0,22.0,145.0,29.0
33,New Jersey,34.0,17.0,42.0,26.0,17.0,136.0,27.2
34,Hawaii,35.0,1.0,50.0,50.0,50.0,186.0,37.2
35,Maine,36.0,4.0,32.0,33.0,20.0,125.0,25.0
36,Massachusetts,38.0,11.0,46.0,43.0,13.0,151.0,30.2
37,Washington,38.0,41.0,48.0,42.0,48.0,217.0,43.4
38,California,39.0,40.0,49.0,32.0,51.0,211.0,42.2
39,Oregon,40.0,NaN,44.0,34.0,45.0,NaN,NaN
40,District of Columbia,41.0,9.0,NaN,NaN,41.0,NaN,NaN
41,New York,42.0,37.0,35.0,47.0,35.0,196.0,39.2
42,Minnesota,43.0,30.0,28.0,38.0,29.0,168.0,33.6